<% include ../layout.ejs %>

<div ng-controller="registerCtrl" id="registerCtrl">
<div  class='content'>

  <div class="row">
   <div class="col-md-4"></div>
   <div class="col-md-4">
   
    <h2 class="text-center text-warning">Đăng kí</h2>
   <form action="/register-submit" method="POST" ng-init="tontai=false">


    <div class="form-group ">
           <label for="email">Tài khoản: </label>
           <input class="form-control" type="text" name="username" placeholder="Username" ng-model="username">
           <br><span ng-show="tontai" class="text-danger">Đã tồn tại</span>
    </div>

    <!-- <input type="password" name="password" placeholder="password" ng-model="password" /><br> -->
    <div class="form-group">
          <label for="pwd">Mật khẩu: </label>
          <input class="form-control" type="password" minlength="6" name="password" placeholder="Password" ng-model="password">
    </div>
    <div>
    <label for="pwd">Email:</label>
    	<input class="form-control" type="email" name='email' placeholder="Email" ng-model="email" /><br><br>
    <div ng-show="full" class="text-center">
    	<input class="btn btn-warning"  type="submit" value="Đăng kí"/>
    </div>
    <div ng-show="!full" class="text-center">
    	<input class="btn btn-warning disabled"  type="button" value="Đăng kí"/>
    	<h4 class="text-danger">Điền đầy đủ thông tin</h4>
    </div>
	</div>
</form>
     
  </div>
  </div>
  </div>
  </div>





<script>
	app.controller('registerCtrl', ['$scope', '$timeout', function($scope, $timeout){
		$scope.tontai = false;
		var usernameLast = '';
		var s = '<%-data%>';
		var data = JSON.parse(s);
		$scope.data = data;

		var check = function() {
			if($scope.username) {
				for(var i=0; i<data.length; i++) {
					if($scope.username == data[i].id)    {
						$scope.tontai = true;
						usernameLast = $scope.username;
					}
				}
				if($scope.username != usernameLast)	$scope.tontai = false;
			}
			if(!$scope.tontai && $scope.username && $scope.password && $scope.email) {
				$scope.full = true;
			}
			else 	$scope.full = false;
		}
		
		$timeout(check, 200);
		for(var i=0; i<10000; i++) {
			$timeout(check, i*100);
		}


	}]);

</script>