<% include ../layout.ejs %>



<!-- </div> -->
<div ng-controller="registerCtrl">
<div  class='content'>




  <div class="row">
   <div class="col-md-5"></div>
   <div class="col-md-2">
   
    <h1>Sign up</h1>
   <form action="/register-submit" method="POST" ng-init="tontai=false">


    <div class="form-group ">
           <label for="email">Tài khoản :</label>
           <input class="form-control" type="text" name="username" placeholder="Username" ng-model="username">
           <br><span ng-show="tontai">Đã tồn tại</span>
    </div>

    <!-- <input type="password" name="password" placeholder="password" ng-model="password" /><br> -->
    <div class="form-group">
          <label for="pwd">Password:</label>
          <input class="form-control" type="password" name="password" placeholder="Password" ng-model="password">
    </div>
    <div>
    <label for="pwd">Email:</label>
    	<input class="form-control" type="email" name='email' placeholder="" ng-model="email" /><br><br>
    <div ng-show="full"><input class="btn btn-default"  type="submit" value="Đăng kí"/>
    </div>
	</div>
</form>
     
  </div>
  </div>
  </div>
  </div>


<script>
	app.controller('registerCtrl', ['$scope', '$timeout', function($scope, $timeout){
		$scope.tontai = false;
		var usernameLast = '';
		var s = '<%-data%>';
		var data = JSON.parse(s);
		$scope.data = data;

		var check = function() {
			if($scope.username) {
				for(var i=0; i<data.length; i++) {
					if($scope.username == data[i].id)    {
						$scope.tontai = true;
						usernameLast = $scope.username;
					}
				}
				if($scope.username != usernameLast)	$scope.tontai = false;
			}
			

			if(!$scope.tontai && $scope.username && $scope.password) {
				$scope.full = true;
			}
			else 	$scope.full = false;
		}
		
		$timeout(check, 200);
		for(var i=0; i<10000; i++) {
			$timeout(check, i*100);
		}

		var loginError = function() {
			alert('dang ki lai')
		}

	}]);

</script>