<% include layout.ejs %>

<link rel="stylesheet" href="/stylesheets/hoi-dap.css">

<div ng-controller="hoidapCtrl" class="content hoiDapPage container">

	<h1 class="text-success text-center">Hỏi đáp + Tư vấn</h1>
	
<!-- ADD -->
	<div class="newQuestion">
		<form class="form-group" action="/add-hoi-dap" method="post">
			<div class="row">
				<span class="col-xs-6 text-info"><label for="newQuestion"><h3>Câu hỏi mới:</h3></label></span>
				<span>Chủ đề(nếu có): <input type ="hidden" value={{mahdAdd}} name="mahd"> {{mahdAdd}}
					<select ng-model="title" name='title' >
						<option ng-repeat="x in khoa  track by $index" value="{{x.khoa}}">{{x.khoa}}</option>
				 	</select>
				</span>
			</div>
							
			<textarea class="form-control" placeholder="Nội dung..." rows="4" id="newQuestion" ng-model="content" name='content'></textarea>
			<div class="row dateAndUser">
				<span class="col-xs-6">
					<h4 class="glyphicon glyphicon-user"><%-username%></h4>
				</span>
				<span class="col-xs-6 text-right" style="margin-top:10px;">
					{{date | date: medium}} 
					<span ng-show="!writed" class="btn btn-info disabled "> Đăng</span>
					<button ng-show="writed" type="submit" class="btn btn-info" ng-click="setAdd()"> Đăng</button>
				</span>
			</div>
			
		</form>	
	</div>
<!-- SHOW -->
	<div class="question" ng-repeat="x in hoidap  track by $index ">
		<div class="form-group">
			<div class="text-center">
				Chủ đề: <b>{{x.title}}</b>
				<span ng-show=<%-type=='boss'%> ><button class="btn btn-danger" ng-click="Delete($index)">Xóa</button></span>
			</div>
			
			<div class="contentQuestion">
				<b>Nội dung: </b> {{x.content}}
			</div>
			<hr><hr>
			<div class="row">
				<span class="col-xs-6">
					{{date | date: medium}} by <a ng-href="/user/{{x.username}}">{{x.username}}</a>
				</span>
				<span class="col-xs-6 text-right" style="margin-top:10px;">
					 <p class="glyphicon glyphicon-thumbs-up text-info"></p>{{x.like}}
					 <p ng-click="Like($index)" class="btn-link btn ">Thích</p>
					 <p class="glyphicon glyphicon glyphicon-comment text-info"></p>{{x.comment.length}}
					 <p ng-click="Comment($index)" class="btn-link btn">Bình luận</p>
				</span>
			</div>
			
			<div ng-show="showComment[$parent.$index]" class="comment" ng-repeat="cm in notes[$index].comment"><hr>
				<div><span class='glyphicon glyphicon-user'></span><a ng-href="/user/{{cm.id}}">{{cm.id}}</a> : {{cm.text}}</div>
			</div>

			<!-- <form action="{{'/binh-luan-moi/' + x.mahd}}" class="form-group" ng-show="showComment[$index]"><hr> -->
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="{{username}}" ng-model="textNewComment[$index]">
				  <span class="input-group-btn">
				    <button class="btn btn-info" id="newCommentButton" ng-click="NewComment(x.mahd)" type="submit">Bình luận</button>
				  </span>
				</div>
			<!-- </form>	 -->
		</div>	
	</div>
	


</div> <!-- CTRL	 -->





<script>
app.controller('hoidapCtrl', ['$scope', '$timeout', '$http', function($scope, $timeout, $http){
	var date = new Date();
	$scope.date = date;
	$scope.title = "";
	var username = '<%-username%>';
	$scope.username = username;
	var s = '<%-data%>';
	var data = JSON.parse(s);
	$scope.data = data;
	localStorage.id = 0;
	$scope.showComment = [];
	$scope.textNewComment = [];


	var khoa = [], hoidap = [], j=0;
	for(var i=0; i<data.length; i++) {
		if(data[i].content) {
			hoidap[j] = {};
			hoidap[j].mahd = data[i].mahd;
			hoidap[j].title = data[i].title ;
			hoidap[j].content = data[i].content ;
			hoidap[j].username = data[i].username ;
			hoidap[j].update = data[i].update ;
			hoidap[j].likecount = data[i].likecount ;
			hoidap[j].comment = data[i].comment ;
			j++;
		}
		khoa[i] = {}
		khoa[i].mak = data[i].mak;
		khoa[i].khoa = data[i].khoa;
	}
	$scope.khoa = khoa;
	$scope.hoidap = hoidap;

    for(var i=0; i<10000; i++) {
		$timeout(function(){
	    	if($scope.content)	$scope.writed = true
	    	else   $scope.writed = false;
	    },i*100);
	}


	$scope.setAdd = function(){
		if(hoidap.length > 0)
			$scope.mahdAdd = hoidap[hoidap.length-1].mahd+1;
		else $scope.mahdAdd = 0;
	};

	$scope.Comment = function(index) {
      $scope.showComment[index] = !$scope.showComment[index];
    }
   
  
   $scope.Delete = function(index) {
   	var r = confirm("Xóa mục thảo luận này?");
   	if(r)   $scope.notes.splice(index, 1);
   }





   $scope.NewComment = function(index) {
	   	var onSuccess = function(response) {
	   		
	   		var result = JSON.parse(response);
	   		alert(result);

	   	};

	   	var onFailure = function(response) {
	   		var result = response.hello;
	   		switch(result.status) {
	   			case 401: 
	   				break;
	   			case 403: 
	   				break;
	   			default:
	   		}
	   	};
	   	$http.post('/hello', $scope.hello).then(onSuccess, onFailure);
	
   }










}]);


//
app.filter('reverse', function() {
  return function(items) {
    return items.slice().reverse();
  };
});







</script>


