<% include layout.ejs %>

<div class='homePage'>

<!-- Home Page -->
<div id="homePage" class="container-fluid text-center">
  <h2 class="margin">Trang chủ</h2>
  <div class="imgHomePage center-block"></div>
  <h3 style="padding-top:10px">Bách Khoa Hospital</h3>
</div>

<!-- Co so vat chat-->
<div id="tinTuc" class="container-fluid text-center">
  <h3 class="margin">Tin tức</h3>
  <p>Bệnh viện hàng đầu Việt Nam </p>
</div>

<!-- Third Container (Grid) -->
<div id="coSoVatChat" class="container-fluid text-center">
  <h3 class="margin">Cơ cở vật chất</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Đêm</p>
      <img src="https://scontent.fhan2-1.fna.fbcdn.net/t31.0-8/p720x720/14068482_1074396782650030_4580560021379820632_o.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Khu A</p>
      <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-9/14484744_1107453142677727_9184987180429097207_n.jpg?oh=7b66d7b730323cc233a34eadff253d31&oe=58B80E0B" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Nhìn từ xa</p>
      <img src="http://www.hanoifullhouse.com/images/gallerylogos/The%20Manor,%20Me%20Tri,%20Tu%20Liem,%20Ha%20Noi_1462012_114732.jpeg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
  </div>
</div>

<!-- Chinh sach chat luong -->
<div id="chinhSachChatLuong" class="container-fluid row">
  <h3 class="margin text-center">Chính sách chất lượng</h3>
  <div class="col-xs-5"></div>
  <ul class="col-xs-6">
    <li>Bệnh viện hàng đầu Việt Nam </li>
    <li>Viện phí giữ nguyên mức ban đầu</li>
    <li>Thống kê đầy đủ chính xác</li>
  </ul>
</div>

<!-- Footer -->
<footer class="container-fluid text-center">
  <p><a href="https://bk-hospital.herokuapp.com/">BK-Hospital.com</a> by <a href="/thong-tin/ban-quan-tri">HLC</a></p>
</footer>

</div>



 










