 <% include layout.ejs %>


  
<div class="container">
 
<h3>Phần nội dung hiển thị</h3>
</div>








<div class="row"><div class="fullstyle wpb_column vc_column_container vc_col-sm-4"><div class="wpb_wrapper">
  
<p style="text-align: center;"><a href="/#tim-hieu-them"><span class="layersliderbutton">TÌM HIỂU THÊM</span></a></p>

  

    </div> 
  </div> </div>




