<% include layout.ejs %>

  
<div <div class='content' class="container">
 
<h2 class="text-center">Wellcome</h2>


<div class="row">
	<div class="fullstyle wpb_column vc_column_container vc_col-sm-4">
		<div class="wpb_wrapper">
	  
			<p style="text-align: center"><a href="/tim-hieu-them"><span class="layersliderbutton">TÌM HIỂU THÊM</span></a></p>

	  

	    </div> 
    </div> 
</div>


</div>












