<!DOCTYPE html>
<html lang="en">
<head>
  <title>BK-Hospital</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>


<div id="top">
<div class="row">
  
  <div class="text-left col-md-5" >
    <div id="avatar"></div>
  </div>
  <h1 class='col-md-7'>ADMIN</h1>

</div>
</div>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Thông tin<span class="caret"></span></a>
          <ul class="dropdown-menu" display="none">
            <li><a href="tin-tuc">Tin tức</a></li>
            <li><a href="chinh-sach">Chính sách chất lượng</a></li>
            <li><a href="co-co-vat-chat">Cơ sở vật chất</a></li>
            <li><a href="ban-giam-doc">Ban giám đốc</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Danh sách<span class="caret"></span></a>
          <ul class="dropdown-menu" display="none">
            <li><a href="admin/list/bac-si">Bác sĩ</a></li>
            <li><a href="admin/list/benh-nhan">Bệnh nhân</a></li>
            <li><a href="admin/list/khoa">Khoa</a></li>
            <li><a href="admin/list/phong">Phòng</a></li>
            <li><a href="admin/list/thuoc">Thuốc</a></li>
            <li><a href="admin/list/benh">Bệnh</a></li>
            <li><a href="admin/list/benh-an">Bệnh Án</a></li>
            <li><a href="admin/list/don-thuoc">Đơn thuốc</a></li>
            <li><a href="admin/list/hoa-don">Hóa đơn</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="admin/#">Thống kê<span class="caret"></span></a>
          <ul class="dropdown-menu" display="none">
            <li><a href="admin/benh-nhan-dang-kham">Bệnh nhân đang khám</a></li>
            <li><a href="admin/#"></a></li>
            <li><a href="admin/#"></a></li>
            <li><a href="admin/#"></a></li>
            <li><a href="admin/#"></a></li>
            <li><a href="admin/#"></a></li>
            <li><a href="admin/#"></a></li>
            <li><a href="admin/#"></a></li>
            <li><a href="admin/#"></a></li>
            <li><a href="admin/#"></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="admin/#">Users<span class="caret"></span></a>
          <ul class="dropdown-menu" display="none">
            <li><a href="admin/list/bac-si">Bác sĩ</a></li>
            <li><a href="admin/list/benh-nhan">Bệnh nhân</a></li>
          </ul>
        </li>
        <li >
          <a href="hoi-dap"> Hỏi đáp <span class="glyphicon glyphicon-question-sign"></span></a>
        </li>
  
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>



</body>
</html>