
<!DOCTYPE html>
<html>
<head>
	<title>List Data</title>
	<h2>List Data: SELECT * FROM fccurlshort</h2>

	<ul>
		<% for(var i=0; i<data.length; i++) {%>
		   <li><%= data[i].number + " __ " + data[i].link %></li>
		<% } %>
	</ul>
</head>
<body>
<script type="text/javascript">
	
/*
<ul>
	<% for(var i=0; i<data.length; i++) {%>
	   <li><%= data[i] %></li>
	<% } %>
	</ul>
*/
	
</script>
</body>
</html>