<% include ../layout.ejs %>

<div ng-controller="hoSoBenhAnCtrl" class="content">
<h2 class="text-center text-info">Hồ Sơ</h2>
<div class='row'>
	<div class="col-xs-3"></div>
	<div class="col-xs-6">
		
		<h3 ng-hide=<%-data.madkkb%>>Chưa có bệnh án</h3>
		<%-data%>

	</div>








</div>	<!-- row -->
</div>  <!-- content -->

<script>
app.controller('hoSoBenhAnCtrl', ['$scope', function($scope){
	var s = '<%-data%>';
	var data = JSON.parse(s);
	data = data[0];
	$scope.data = data;










}]);

</script>