@import url('http://fonts.googleapis.com/css?family=Amarante');
a {
  color: #00B7FF;
}

.add {
  text-align: center;
}

.addButton {
  margin: 0 auto;
}

#avatar {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url('http://www.reviewcompany.vn/public/media/uploads/company/logo/2014-06-21/c5c3183a-19b7-4e2b-9a2e-d0cfedc4da54.jpg');
    /* make a square container */
    width: 100px;
    height: 70px;
    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;
    /* center the image vertically and horizontally */
    background-position: center;
    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
}

a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: #27AE61 url("../image/up-arrow.png") no-repeat center 43%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

body {
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #eee url('http://i.imgur.com/eeQeRmk.png');
  background-color: #F6F6F6;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.buttonSignUp {
  float: right;
  margin-top: -35px;
  width: 95px;
}

.buttonDKKB {
  margin:15px;
  font-family: 'open sans', helvetica, arial, sans;
  display: inline-block;
  padding: 1px 16px 8px 16px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 20px;
  color: #f1f1f1;
  text-align: center;
  text-shadow: 0 1px 0px rgba(255, 255, 255, .125);
  vertical-align: middle;
  cursor: pointer;
  background-color: #08c;
  border: 1px solid #e7e7e7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.buttonDKKB:hover {
  color: #08c;
  background: #e7e7e7;
  text-shadow: 0 1px 0px rgba(255, 255, 255, .25);
  border: 1px solid #08c;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  text-decoration:none;
} 


.content {
  margin-top: 50px;
  padding: 10px;
  padding-bottom: 50px;
  /*margin-bottom: -1000px;*/
}

.benhNhanDaKhamForm {
  border-radius: 3%;
  border: solid 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #D5EBEB;
}


#chinhSachChatLuong {
  background-color: #8596A0; /* Dark Blue */
  color: white;
  padding: 30px;
}
.dangKiKhamBenhForm {
  border-radius: 3%;
  border: solid 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
}

.dangKiKhamBenhForm .text {
  float: right;
}

.editButton {
  
}

footer {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
    padding: 10px;
    padding-top: 20px;
}

.formUpdateKhach {
  /*text-align: center;*/
  margin: 30px;
  /*color: white;*/
}

.formThongTinBenhNhan {
  border: solid 2px #D3C8C8;
  padding-right: 10px;
  padding-bottom: 10px;
    border-radius: 2%;
}

h1 {
	color: red;
}

h3 {
	margin: 0 auto;
}

.homePage {
  position: relative;
  top: 30px;
}

#homePage {
    /*background-color: #1abc9c; /* Green */*/
    color: #ffffff;
    padding-bottom: 10px;
    background-image: url("http://img.infonet.vn/Uploaded/thanhhuyen/2015_10_28/DH_Bach_Khoa.jpg");
    background-size: cover;
    /* center the image vertically and horizontally */
    background-position: center;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.hoSo .chuaKhamForm {   /*hoso.ejs*/
  border-radius: 3%;
  border: solid 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
}
.hoSo .dangKhamForm {   /*hoso.ejs*/
  border-radius: 3%;
  border: solid 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f8f8;
}
.hoSo .chuaXuatVienForm {   /*hoso.ejs*/
  border-radius: 3%;
  border: solid 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f3f3f3;
}
.hoSo .daXuatVienForm {   /*hoso.ejs*/
  border-radius: 3%;
  border: solid 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #D5EBEB;
}

.idBenhNhan {
  font-size: 30px;
  margin-left: 90px;
}

input[class=phone]{
    width: 120px;
} 

.imgHomePage {
  border-radius: 50%;
  margin: 0 auto;
  width: 370px;
  height: 370px;
  background-image: url("http://60.hust.edu.vn/documents/22244/28577/2016321+BK2.jpg/ed42f813-0a03-4aeb-8fb9-3054a1cd8474?version=1.1&t=1467688379000");
  background-size: cover;
  /*background-position: center;*/
}

input {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid;
    border-bottom-color: #CCC;
}

.modal-body{
  font-size: 20px;
}

.modal-body table {
  margin-top: 10px;
  border-radius: 10%;
}

.modal-body .hoaDon td{
  padding: 10px 75px 10px 75px;
  border: none;
}

.modal-body table .contentHoaDon{
  text-align: center;

}

.navbar {
    /*border: 0;*/
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: 5px 1px 5px grey;
}

.sort {
  padding-left: 25%;
  padding-right: 0px;
  float: right;
}

.search-add-sort {
  margin: 10px;
}

.search {
}

#tinTuc {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
    padding: 30px;
}


/*TABLE*/
table, th , td {
  font-size: 18px;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  margin: 0 auto;
  margin-top: 20px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

table tr .titleTable {
  background-color: #C1E1A6;
}
.textSignUp {
  color: white;
}



.wellcome {
  text-align: center;
  color: blue;
}
