<% include ../layout.ejs %>
<style type="text/css">
	body{
		 background-color : #BFFAD0;
	}
</style>


<h1>
	hello
</h1><style type="text/css">
	body{
		 background-color : #BFFAD0;
	}
</style>


<h1>
	hello
</h1>
<h1>
<a href="https://www.facebook.com/domanhhunghp96">Hùng</a>

<a href="https://www.facebook.com/lampvhy">Lâm</a>

<a href="https://www.facebook.com/nguyenchinh1996?fref=ts">Chinh</a>

</h1>