<% include ../layout.ejs %>
<!-- <a href="http://dpt.hust.edu.vn/co-so-vat-chat">isit </a> -->

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <style type="text/css">
.container{
    /*background-color : black;*/
}
body{
  background-color : #BFFAD0;
}
.csvc{
      background-color : #BFFAD0;
}
</style>
<div class ="csvc">
<div class="container" class='content'>

    <div class="row"> 
      
        <h1 class="text-center">D</h1>
        <h2 class="text-center"><em>T</em></h2>
        <div class= "thumbnail">
          <img class="imgCenter" src="http://media.baogiaothong.vn/files/hang.truong/2015/02/25/benh-vien-gtvt-1337.jpg">
          <div class="caption text-center">.</div>       
        </div>
           <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <h3></h3>
          <ul>
                  
          </ul>
  
          <h3>If you have time, you should read more about this  <a href="https://en.wikipedia.org/wiki/Norman_Borlaug" target="_blank">Wikipedia entry</a>.</h3>
        </div>
        
      </div> 


<footer class="text-center">
      
       
    </footer>
</div>
</div>
  
