<% include ../layout.ejs %>

<script src="/javascripts/list.js"></script>

<div class='content' ng-controller="bacsiCtrl">
	<div class="container">
		<div class='row search-add-sort'>
			<div class='col-xs-5 search'>
				Tìm Kiếm: <input type="text" ng-model='search'> {{bacsi.length}} Bác Sĩ
			</div>
			<div class='col-xs-2 add'>
				<button ng-click="setAdd()" data-target='#bacsiAddFormModal' data-toggle="modal" class="addButton" ng-show=<%-type=='boss'%>>
					Thêm mới
				</button>
			</div>
			<div class='col-xs-5 sort' ng-init="sort='mabs'">
				Sắp xếp:
				<select ng-model="sort">
		          <option value="mabs">ID</option>
		          <option value="mak">Khoa</option>
		          <option value="hoten">Họ Tên</option>
		          <option value="ngaysinh">Ngày Sinh</option>
		          <option value="gioitinh">Giới Tính</option>
		          <option value="diachi">Địa Chỉ</option>
		          <option value="kinhnghiem">Kinh Nghiệm</option>
		          <option value="trangthai">Trạng Thái</option>
		           <option value="username">	Username 	</option>
		        </select>
			</div>
		</div>

		<table>
			<tr class="titleTable">
				<th scope="col" title="mbs">		ID			</th>
				<th scope="col" title="mbk">		Khoa		</th>
				<th scope="col" title="hoten">		Họ Tên		</th>
				<th scope="col" title="ngaysinh">	Ngày Sinh	</th>
				<th scope="col" title="gioitinh">	Giới Tính	</th>
				<th scope="col" title="diachi">		Địa Chỉ		</th>
				<th scope="col" title="kinhnghiem">	Kinh Nghiệm	</th>
				<th scope="col" title="trangthai">	Trạng Thái  </th>
				<th scope="col" title="username">	Tài Khoản  </th>
				<th ng-show=<%-type=='boss'%> scope="col" title="quantri">    	Quản trị	</th>
			</tr>
		  <tr ng-repeat="x in bacsi | orderBy: sort | filter: search track by $index"  ng-show='x.mabs'>
		    <td>{{ x.mabs}}</td>
		    <td>{{ x.mak}}</td>
		    <td>{{ x.hoten }}</td>
		    <td>{{ x.ngaysinh }}</td>
		    <td>{{ x.gioitinh }}</td>
		    <td>{{ x.diachi }}</td>
		    <td>{{ x.kinhnghiem }}</td>
		    <td><span ng-show="x.trangthai" class='text-danger'>{{x.trangthai}} bệnh nhân</span><span ng-hide="x.trangthai">Trống</span></td>
		    <td>{{ x.username }}</td>
		    <td ng-show=<%-type=='boss'%> >
		    	<button ng-click="setEdit(x.mabs)" class="editButton" data-target='#bacsiEditFormModal' data-toggle="modal" >
		    		Sửa
		    	</button><button ng-click="setEdit(x.mabs)" class="deleteButton" data-target='#bacsiDeleteFormModal' data-toggle="modal" >
		    		Xóa
		    	</button>
		    </td>
		  </tr>
		</table>

	<!-- Add Form Modal -->
	<div class="modal fade" id="bacsiAddFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    <form action="/add-bac-si" method="post">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4>Thêm mới</h4>
		      </div>
		      <div class="modal-body">
		        Mã Bác Sĩ: {{mabsAdd}} <input type="hidden" value={{mabsAdd}} name="mabs"><br><br>
		        Mã Khoa:    <input type="number" ng-model='makAdd' name="mak"> {{khoa[makAdd]}}<br><br>
		        Họ Tên:     <input type="text" name="hoten"><br><br>
		        Ngày Sinh:  <input type="number" name="ngaysinh" max='31' min='1'  placeholder="Ngày">
		        			<input type="number" name="thangsinh" max='12' min='1' placeholder="Tháng">
		        			<input type="number" name="namsinh" max='2017' min='1900' placeholder="Năm"><br><br>
		        Giới tính:  <input type="radio" name="gioitinh" value="Nam" />Nam
						    <input type="radio" name="gioitinh" value="Nữ" />Nữ<br><br>
		        Địa chỉ:    <input type="text" name="diachi"><br><br>
		        Năm Kinh Nghiệm:      <input type="number" name="kinhnghiem"> năm<br><br>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
		        <button type="submit" class="btn btn-primary" value="Save">Lưu</button>
		      </div>
	     </form>
	    </div>
	  </div>
	</div>
	<!-- Edit Form Modal -->
	<div class="modal fade" id="bacsiEditFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    <form action="/edit-bac-si" method="post">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>Chỉnh sửa</h4>
		      </div>
		      <div class="modal-body">
		        Mã Bác Sĩ: {{mabsEdit}} <input type="hidden" value={{mabsEdit}} name="mabs"><br><br>
		        Mã Khoa:    <input type="number" value={{makEdit}} name="mak"><br><br>
		        Họ Tên:     <input type="text"   value={{hotenEdit}} name="hoten"><br><br>
		        Ngày Sinh:  <input type="number" value={{ngaysinhEdit}} name="ngaysinh" max='31' min='1' class='ngaysinh'  placeholder="Ngày">
		        			<input type="number" value={{thangsinhEdit}} name="thangsinh" max='12' min='1' class='thangsinh' placeholder="Tháng">
		        			<input type="number" value={{namsinhEdit}} name="namsinh" max='2017' min='1900' class='namsinh' placeholder="Năm"><br><br>
		        Giới tính:  <input type="radio"  value="Nam" ng-checked='nam' name="gioitinh" />Nam
						    <input type="radio"  value="Nữ"  ng-checked='nu'  name="gioitinh" />Nữ<br><br>
		        Địa chỉ:    <input type="text"   value={{diachiEdit}} name="diachi"><br><br>
		        Năm Kinh Nghiệm:   <input type="number" value={{kinhnghiemEdit}} name="kinhnghiem"> năm<br><br>
		        Trạng thái: <input type="radio"  value="1" ng-checked='trangthaiEdit' name="trangthai" />Hoạt động
						    <input type="radio"  value="0" ng-checked='!trangthaiEdit' name="trangthai" />Trống<br><br>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
		        <button type="submit" class="btn btn-primary" value="Save">Lưu</button>
		      </div>
	     </form>
	    </div>
	  </div>
	</div>
	<!-- Delete Form Modal -->
	<div class="modal fade" id="bacsiDeleteFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    <form action="/delete-bac-si" method="post">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>Xóa</h4>
		      </div>
		      <div class="modal-body">
		        Mã Bác Sĩ: {{mabsEdit}} <input type="hidden" value={{mabsEdit}} name="mabs"><br><br>
		        Mã Khoa:    {{makEdit}}  <br><br>
		        Họ Tên:     {{hotenEdit}}<br><br>
		        Ngày Sinh:  {{ngaysinhEdit}}/{{thangsinhEdit}}/{{namsinhEdit}} <br><br>
		        Giới tính:  <span ng-show = 'nam'>Nam</span>
		        			<span ng-show = 'nu'>Nữ</span><br><br>
		        Địa chỉ:    {{diachiEdit}} <br><br>
		        Năm Kinh Nghiệm:   {{kinhnghiemEdit}} năm<br><br>
		        Trạng thái: <span ng-show = 'trangthaiEdit'>Hoạt động</span>
		        			<span ng-hide = 'trangthaiEdit'>Trống</span>
		        
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
		        <button type="submit" class="btn btn-danger" value="Save">Xóa</button>
		      </div>
	     </form>
	    </div>
	  </div>
	</div>
	</div>  <!-- container -->
</div>  <!-- controller -->

<script>
	app.controller('bacsiCtrl', ['$scope', function($scope){

		var s = '<%-data%>';
		var data = JSON.parse(s);
		$scope.data = data;
		var bacsi = [];
		var khoa = [];

		var test = function(x, arr) {
			for(var i=0; i < arr.length; i++) {
				if(x == arr[i].mak) return true;
			}
			return false;
		}
		var j = 0;
		for(var i=0; i<data.length; i++) {
			if(data[i].mabs) {
				bacsi[j] = {};
				bacsi[j].mabs = data[i].mabs;
				bacsi[j].mak = data[i].mak ;
				bacsi[j].ngaysinh = data[i].ngaysinh ;
				bacsi[j].gioitinh = data[i].gioitinh ;
				bacsi[j].diachi = data[i].diachi ;
				bacsi[j].hoten = data[i].hoten ;
				bacsi[j].trangthai = data[i].trangthai ;
				bacsi[j].kinhnghiem = data[i].kinhnghiem ;
				bacsi[j].username = data[i].username ;
				j++;
			}

			khoa[data[i].mak] = data[i].khoa;

			
			
		}
		$scope.bacsi = bacsi;
		$scope.khoa = khoa;



		$scope.setEdit = function(index){
		 	for(var i =0; i<bacsi.length; i++) {
		 		if(bacsi[i].mabs == index)	{
		 			$scope.mabsEdit = bacsi[i].mabs;
		 			$scope.makEdit = bacsi[i].mak;
		 			$scope.hotenEdit = bacsi[i].hoten;
		 			var s = bacsi[i].ngaysinh;
		 			$scope.ngaysinhEdit = parseInt(s.slice(0, 2), 10);
		 			$scope.thangsinhEdit = parseInt(s.slice(3, 5), 10);
		 			$scope.namsinhEdit = parseInt(s.slice(6, 10), 10); 			
		 			if(bacsi[i].gioitinh == 'Nam') {
		 				$scope.nam = true;
		 				$scope.nu = false;
		 			}
		 			else {
		 				$scope.nam = false;
		 				$scope.nu = true;
		 			}
		 			$scope.diachiEdit = bacsi[i].diachi;
		 			$scope.kinhnghiemEdit = bacsi[i].kinhnghiem;
		 			$scope.trangthaiEdit = bacsi[i].trangthai;

		 		}
		 	}
		 }

		$scope.setAdd = function(){
			var test = 0;
		 	for(var i = 0; i<bacsi.length-1; i++) {
		 		if( bacsi[i+1].mabs - bacsi[i].mabs > 1) {
		 			$scope.mabsAdd = bacsi[i].mabs+1;
		 			test = 1;
		 		}
		 	}
		 	if(test == 0) {
		 		$scope.mabsAdd = bacsi[i].mabs+1;
		 	}
		 };

	}]);

</script>



