<% include ../layout %>


<div ng-app="benhnhan" ng-controller="benhnhanCtrl">

	Show HTML: <input type="checkbox" ng-model="myVar">

	<div ng-show="myVar">
	<h1>Welcome</h1>
	<p>Welcome to my home.</p>
	</div>



</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
	var app = angular.module('benhnhan',[]);
	app.controller('benhnhanCtrl', ['$scope', function($scope){
		
	}]);

</script>


