<% include ../layout.ejs %>

<script src="/javascripts/list.js"></script>

<div class='content' ng-controller="benhanCtrl">
	<div class="container">
		<div class='row search-add-sort'>
			<div class='col-xs-5 search'>
				Tìm Kiếm: <input type="text" ng-model='search'> {{benhan.length}} Bệnh Án
			</div>
			<div class='col-xs-2 add'>
				
			</div>
			<div class='col-xs-5 sort' ng-init="sort='mabn'">
				Sắp xếp:
				<select ng-model="sort">
					<option value ="maba">Mã Bệnh Án</option>
					<option value ="benhnhan">Bệnh Nhân</option>
					<option value ="bacsi">Bác Sĩ</option>
					<option value ="phong">Phòng</option>	
					<option value ="benh">Bệnh</option>					
					<option value ="ngayvao">Ngày Vào</option>
					<option value ="ngayra">Ngày Ra</option>
		        </select>
			</div>
		</div>

		<table>
			<tr class="days">
				<th scope ="col" >Mã Bệnh Án </th>
				<th scope ="col" >Bệnh Nhân</th>
				<th scope ="col" >Bác Sĩ</th>				
				<th scope ="col" >Phòng</th>
				<th scope ="col" >Bệnh </th>
				<th scope ="col" >Ngày Vào</th>
				<th scope ="col" >Ngày Ra</th>
		     </tr>
		  <tr ng-repeat="x in benhan | orderBy: sort | filter: search track by $index">
		    <td>{{ x.maba}}</td>
		    <td>{{ x.benhnhan}}</td>
		    <td>{{ x.bacsi}}</td>
		    <td>{{ x.phong}}</td>
		    <td>{{ x.benh}}</td>
		    <td>{{ x.ngayvao}}</td>
		    <td>{{ x.ngayra}}</td>
		  </tr>
		</table>

	</div>  <!-- container -->
</div>  <!-- controller -->

<script>
	app.controller('benhanCtrl', ['$scope', function($scope){

		var s = '<%-data%>';
		var data = JSON.parse(s);
		$scope.benhan = data;

	}]);

</script>




<!-- 




 -->

