<% include ../layout.ejs %>

<script src="/javascripts/list.js"></script>

<div class='content' ng-controller="benhnhanCtrl">
	<div class="container">
		<div class='row search-add-sort'>
			<div class='col-xs-5 search'>
				Tìm Kiếm: <input type="text" ng-model='search'> {{data.length}} Bệnh Nhân
			</div>
			<div class='col-xs-2 add'>
				<button ng-click="setAdd()" data-target='#benhnhanAddFormModal' data-toggle="modal" class="addButton" ng-show=<%-type=='boss'%>>
					Thêm mới
				</button>
			</div>
			<div class='col-xs-5 sort' ng-init="sort='mabn'">
				Sắp xếp:
				<select ng-model="sort">
		          <option value="mabn">			ID			</option>
		          <option value="hoten">		Họ Tên		</option>
		          <option value="ngaysinh">		Ngày Sinh	</option>
		          <option value="gioitinh">		Giới Tính	</option>
		          <option value="diachi">		Địa Chỉ		</option>
		          <option value="dienthoai">	Điện Thoại 	</option>
		          <option value="trangthai">	Trạng Thái 	</option>
		        </select>
			</div>
		</div>

		<table>
			<tr class="titleTable">
				<th scope="col" >		ID			</th>
				<th scope="col" >		Họ Tên		</th>
				<th scope="col" >		Ngày Sinh	</th>
				<th scope="col" >		Giới Tính	</th>
				<th scope="col" >		Địa Chỉ		</th>
				<th scope="col" >		Điện Thoại	</th>
				<th scope="col" >		Trạng Thái  </th>
				<th ng-show=<%-type=='boss'%> scope="col" title="quantri">	Quản trị	</th>
			</tr>
		  <tr ng-repeat="x in data | orderBy: sort | filter: search track by $index">
		    <td>{{ x.mabn}}</td>
		    <td>{{ x.hoten }}</td>
		    <td>{{ x.ngaysinh }}</td>
		    <td>{{ x.gioitinh }}</td>
		    <td>{{ x.diachi }}</td>
		    <td>{{ x.dienthoai }}</td>
		    <td><span ng-show="x.trangthai">Khám bệnh</span><span ng-hide="x.trangthai">Khỏe mạnh</span></td>
		    <td ng-show=<%-type=='boss'%> >
		    	<button ng-click="setEdit(x.mabn)" class="editButton" data-target='#benhnhanEditFormModal' data-toggle="modal" >
		    		Sửa
		    	</button>
		    	<button ng-click="setEdit(x.mabn)" class="deleteButton" data-target='#benhnhanDeleteFormModal' data-toggle="modal" >
		    		Xóa
		    	</button>
		    </td>
		  </tr>
		</table>

	<!-- Add Form Modal -->
	<div class="modal fade" id="benhnhanAddFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    <form action="/add-benh-nhan" method="post">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4>Thêm mới</h4>
		      </div>
		      <div class="modal-body">
		        Mã Bác Sĩ: {{mabnAdd}} <input type="hidden" value={{mabnAdd}} name="mabn"><br><br>
		        Họ Tên:     <input type="text" name="hoten"><br><br>
		        Ngày Sinh:  <input type="number" name="ngaysinh" max='31' min='1'  placeholder="Ngày">
		        			<input type="number" name="thangsinh" max='12' min='1' placeholder="Tháng">
		        			<input type="number" name="namsinh" max='2017' min='1900' placeholder="Năm"><br><br>
		        Giới tính:  <input type="radio" name="gioitinh" value="Nam" />Nam
						    <input type="radio" name="gioitinh" value="Nữ" />Nữ<br><br>
		        Địa chỉ:    <input type="text" name="diachi"><br><br>
		        Điện Thoại: <input type="number" min='010000000' name="dienthoai"><br><br>
		        Trạng thái: <input type="radio"  value="1" ng-checked='trangthaiEdit' name="trangthai" />Khám bệnh
						    <input type="radio"  value="0" ng-checked='!trangthaiEdit' name="trangthai" />Khỏe mạnh<br><br>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
		        <button type="submit" class="btn btn-primary" value="Save">Lưu</button>
		      </div>
	     </form>
	    </div>
	  </div>
	</div>
	<!-- Edit Form Modal -->
	<div class="modal fade" id="benhnhanEditFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    <form action="/edit-benh-nhan" method="post">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>Chỉnh sửa</h4>
		      </div>
		      <div class="modal-body">
		        Mã Bác Sĩ: {{mabnEdit}} <input type="hidden" value={{mabnEdit}} name="mabn"><br><br>
		        Họ Tên:     <input type="text"   value={{hotenEdit}} name="hoten"><br><br>
		        Ngày Sinh:  <input type="number" value={{ngaysinhEdit}} name="ngaysinh" max='31' min='1' class='ngaysinh'  placeholder="Ngày">
		        			<input type="number" value={{thangsinhEdit}} name="thangsinh" max='12' min='1' class='thangsinh' placeholder="Tháng">
		        			<input type="number" value={{namsinhEdit}} name="namsinh" max='2017' min='1900' class='namsinh' placeholder="Năm"><br><br>
		        Giới tính:  <input type="radio"  value="Nam" ng-checked='nam' name="gioitinh" />Nam
						    <input type="radio"  value="Nữ"  ng-checked='!nam'  name="gioitinh" />Nữ<br><br>
		        Địa chỉ:    <input type="text"   value={{diachiEdit}} name="diachi"><br><br>
		        Điện Thoại: <input type="number" value={{dienthoaiEdit}} min='010000000' name="dienthoai"><br><br>
		        Trạng thái: <input type="radio"  value="1" ng-checked='trangthaiEdit' name="trangthai" />Khám bệnh
						    <input type="radio"  value="0" ng-checked='!trangthaiEdit' name="trangthai" />Khỏe mạnh<br><br>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
		        <button type="submit" class="btn btn-primary" value="Save">Lưu</button>
		      </div>
	     </form>
	    </div>
	  </div>
	</div>
	<!-- Delete Form Modal -->
	<div class="modal fade" id="benhnhanDeleteFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    <form action="/delete-benh-nhan" method="post">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>Xóa</h4>
		      </div>
		      <div class="modal-body">
		        Mã Bác Sĩ: {{mabnEdit}} <input type="hidden" value={{mabnEdit}} name="mabn"><br><br>
		        Họ Tên:     {{hotenEdit}}<br><br>
		        Ngày Sinh:  {{ngaysinhEdit}}/{{thangsinhEdit}}/{{namsinhEdit}} <br><br>
		        Giới tính:  <span ng-show = 'nam'>Nam</span>
		        			<span ng-show = '!nam'>Nữ</span><br><br>
		        Địa chỉ:    {{diachiEdit}} <br><br>
		        Điện Thoại: {{dienthoaiEdit}}<br><br>
		        Trạng thái: <span ng-show = 'trangthaiEdit'>Khám bệnh</span>
		        			<span ng-hide = 'trangthaiEdit'>Khỏe mạnh</span>
		        
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
		        <button type="submit" class="btn btn-danger" value="Save">Xóa</button>
		      </div>
	     </form>
	    </div>
	  </div>
	</div>
	</div>  <!-- container -->
</div>  <!-- controller -->

<script>
	app.controller('benhnhanCtrl', ['$scope', function($scope){

		var s = '<%-data%>';
		var data = JSON.parse(s);
		$scope.data = data;

		$scope.setEdit = function(index){
		 	for(var i =0; i<data.length; i++) {
		 		if(data[i].mabn == index)	{
					$scope.mabnEdit  = data[i].mabn;
					$scope.makEdit   = data[i].mak;
					$scope.hotenEdit = data[i].hoten;
					var s = data[i].ngaysinh;
					$scope.ngaysinhEdit  = parseInt(s.slice(0, 2), 10);
					$scope.thangsinhEdit = parseInt(s.slice(3, 5), 10);
					$scope.namsinhEdit   = parseInt(s.slice(6, 10), 10); 			
					if(data[i].gioitinh == 'Nam') 	$scope.nam = true;
					else $scope.nam = false;
					
					$scope.diachiEdit    = data[i].diachi;
					$scope.dienthoaiEdit = data[i].dienthoai;
					$scope.trangthaiEdit = data[i].trangthai;
		 		}
		 	}
		 }

		$scope.setAdd = function(){
			var test = 0;
		 	for(var i = 0; i<data.length-1; i++) {
		 		if( data[i+1].mabn - data[i].mabn > 1) {
		 			$scope.mabnAdd = data[i].mabn+1;
		 			test = 1;
		 		}
		 	}
		 	if(test == 0) {
		 		$scope.mabnAdd = data[i].mabn+1;
		 	}
		 };

	}]);

</script>



