<% include ../layout.ejs %>


<script src="/javascripts/list.js"></script>

<div class='content' ng-controller="phongCtrl">
	<div class="container">
		<div class="row search-add-sort">
			<div  class="col-xs-5 search">
				Tìm Kiếm: <input type="text" ng-model='search'> {{data.length}} Phòng
			</div>
			<div  class="col-xs-2 add">
				<button ng-click="setAdd()" data-target='#phongAddFormModal' data-toggle="modal" class="addButton" ng-show=<%-type=='boss'%>>
				Thêm mới
				</button>
			</div>
			<div  class="col-xs-5 sort " ng-init="sort='mak'">
				Sắp xếp: 
				<select ng-model="sort">
					<option value ="mak">Mã Phòng</option>
					<option value ="phong">Tên Phòng</option>
					<option value ="gia1ngaydem">Giá/24h</option>
					<option value ="trangthai">Trạng Thái</option>
		        </select>
			</div>
		</div>

		<table>
			<tr class="titleTable">
				<th scope="col" title="mbk">		ID			</th>
				<th scope="col" title="phong">		Phòng		</th>
				<th scope="col" title="gia1ngaydem">Giá/24h	(VNĐ) 	</th>
				<th scope="col" title="trangthai">	Trạng Thái	</th>
				<th scope="col" title="quantri">	Quản trị	</th>
			</tr>
			<tr ng-repeat="x in data | orderBy: sort | filter: search track by $index">

				<td>{{ x.map}}</td>
				<td>{{ x.phong }}</td>
				<td>{{ x.gia1ngaydem}}</td>
				<td><span ng-show="x.trangthai">Đang sử dụng</span><span ng-hide="x.trangthai">Trống</span></td>
				<td ng-show=<%-type=='boss'%> >
					<button ng-click="setEdit(x.map)" class="editButton" data-target='#phongEditFormModal' data-toggle="modal" >
						Sửa
					</button>
					<button ng-click="setEdit(x.map)" class="deleteButton " data-target='#phongDeleteFormModal' data-toggle="modal" >
						Xóa
					</button>
				</td>
			</tr>
		</table>

	<!-- Add Form Modal -->
	<div class="modal fade" id="phongAddFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    <form action="/add-phong" method="post">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4>Thêm mới</h4>
		      </div>
		      <div class="modal-body">
				Mã Phòng: {{mapAdd}}    <input type ="hidden" value={{mapAdd}} name="map"><br><br>
				Tên Phòng Mới: 			<input type="text" name="phong"><br><br>
				Giá/24h:     			<input type="number" name="gia1ngaydem"><br><br>
				Trạng Thái: 			<input type="radio" name="trangthai" value="1" /> Đang sử dụng 
						    			<input type="radio" name="trangthai" value="0" /> Trống <br><br>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
		        <button type="submit" class="btn btn-primary" value="Save">Lưu</button>
		      </div>
	     </form>
	    </div>
	  </div>
	</div>
	<!-- Edit Form Modal -->
	<div class="modal fade" id="phongEditFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    <form action="/edit-phong" method="post">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4>Chỉnh sửa</h4>
		      </div>
		      <div class="modal-body">
					Mã Phòng: {{mapEdit}}   <input type ="hidden" value={{mapEdit}} name="map"><br><br>
					Tên Phòng: 				<input type ="text"   value={{phongEdit}} name="phong"><br><br>
					Giá/24h:     			<input type ="number" value={{gia1ngaydemEdit}} name="gia1ngaydem"><br><br>
					Trạng Thái: 			<input type ="radio"  ng-checked="trangthaiEdit" name="trangthai" value="1" /> Đang sử dụng 
											<input type ="radio"  ng-checked="!trangthaiEdit" name="trangthai" value="0" /> Trống <br><br>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
		        <button type="submit" class="btn btn-primary" value="Save">Lưu</button>
		      </div>
	     </form>
	    </div>
	  </div>
	</div>
	<!-- Delete Form Modal -->
	<div class="modal fade" id="phongDeleteFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    <form action="/delete-phong" method="post">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4>Xóa</h4>
		      </div>
		      <div class="modal-body">
		        <div class="modal-body">
					Mã Phòng:   {{mapEdit}}    <input type ="hidden" value={{mapEdit}} name="map"><br><br>
					Tên Phòng: 	{{phongEdit}}		<br><br>
					Giá/24h:  {{gia1ngaydemEdit}} <br><br>
					Trạng Thái: <span ng-show="trangthaiEdit">Đang sử dụng</span><span ng-hide="trangthaiEdit">Trống</span>	<br><br>
		      </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
		        <button type="submit" class="btn btn-danger" value="Save">Xóa</button>
		      </div>
	     </form>
	    </div>
	  </div>
	</div>


	</div>  <!-- container -->
</div>  <!-- controller -->

<script>
	app.controller('phongCtrl', ['$scope', function($scope){
		 var s = '<%-data%>';
		 var data = JSON.parse(s);
		 $scope.data = data;

		 $scope.setEdit = function(index){
		 	for(var i =0; i<data.length; i++) {
		 		if(data[i].map == index)	{
		 			$scope.mapEdit = data[i].map;
		 			$scope.phongEdit = data[i].phong;
		 			$scope.gia1ngaydemEdit = data[i].gia1ngaydem;
		 			$scope.trangthaiEdit = data[i].trangthai;
		 		}
		 	}
		 }

		$scope.setAdd = function(){
			var test = 0;
		 	for(var i =0; i<data.length-1; i++) {
		 		if(data[i+1].map - data[i].map > 1) {
		 			$scope.mapAdd = data[i].map+1;
		 			test = 1;
		 		}
		 	}
		 	if(test == 0) {
		 		$scope.mapAdd = data[data.length-1].map+1;
		 	}
		 };



	}]);

</script>



